{extend name="login/base" /}

{block name="content"}
    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <form action="{:url('doLogin')}" method="post" id="loginForm">
            <!--{:token()}-->
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                <input type="text" name="username" value="" lay-verify="required" placeholder="用户名" class="layui-input">
            </div>
            <div class="layui-form-item" id="item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                <input type="password" name="password"  lay-verify="required" placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div id="de111" style="float: left;" >
                    <label class="layadmin-user-login-icon layui-icon layui-icon-code-circle" for="LAY-user-login-password"></label>
                    <input type="text" name="captcha"  lay-verify="required" placeholder="验证码" class="layui-input">
                </div>
                <div id="de222" style="float: left">
                    <img src="{:url('capture')}" alt="captcha" style="width: 200px" id="capimg"/>
                </div>
            </div>
            <div class="layui-form-item">
                <button type="submit" class="layui-btn layui-btn-fluid" lay-submit lay-filter="login-form">登 录</button>
            </div>
        </form>
    </div>
{/block}